<?xml version="1.0" encoding="UTF-8"?>
<resources>
<string name="version_code">1</string>
<string name="version_name">1.0.527a</string>
<string name="copyright">(C) 2010 IoriAYANE</string>
</resources>

